body {
background-color: black;

 }
 h1{
    color: rgb(255, 255, 255);
 }
 h2{
    color:rgb(255, 255, 255);
 }
 .center{
    text-align:center;
 }
 a.botao1{
background-color: white;
color : rgb(3, 3, 3);
padding:10px;
text-decoration: none;
border:2px solid red;

 }
 a.botao1:hover{
    padding:14px;
    background-color: rgb(250, 120, 120);
    border:2px solid white;
     }